html, body {
  margin: 0;
  padding: 0;
}

body {
  font-size: 20px;
  overflow: hidden;
}

h1 { margin: 0; }

a, a:visited {
  color: inherit;
  text-decoration: none;
}

ul { list-style: none; }

.vid {
  position: fixed;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: -2;
}

.vid iframe {
  width: 100%;
  height: 100%;
}

article#main {
  width: 100vw;
  box-sizing: border-box;
  padding: 1em;
  background-color: rgba(255, 255, 255, 0.5);
}

.container {
  width: 60%;
  margin: 0 auto;
}

header {
  width: 100%;
}

header a {
  margin: 0 auto;
}

.lol, .hunting {
  display: flex;
  background-color: rgba(255, 255, 255, 0.8);
  align-items: center;
  padding: 0.25em;
}

.description {
  padding: 1em;
  box-sizing: border-box;
}
.picbox {
  display: box;
  box-flex: 1;
  width: 300px;
}

.picbox img { width: 100%; }

.picbox .reference {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  font-size: 0.8em;
}

footer ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

footer li {
  border: rgba(10, 10, 10, 0.5) 1px solid;
  border-radius: 0.5em;
  padding: 0.2em 1em;
}

footer li:hover {
  background-color: rgba(10, 10, 10, 0.5);
  color: white;
}

@media screen and (orientation: landscape) {
  body { overflow: hidden; }
  article#main { height: 100vh; }
  section { flex-direction: row; }
  .description { text-align: left; }
}

@media screen and (orientation: portrait) {
  body { overflow-y: auto; }
  article#main { width: auto; }
  section { flex-direction: column; }
  .container { width: 90%; }
  .description { text-align: center; }
}
